#calc {
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  width: 500px;
  height: 800px;
  border: 2px solid black;
  box-sizing: border-box;
}
#display {
  flex-basis: 100%;
  height: 175px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  font-size: xx-large;
  text-align: end;
  background-color: rgba(177, 176, 176, 0.562);
}
button {
  background-color: blue;
  aspect-ratio: 1;
  flex-basis: 25%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.button-operator {
  background-color: orange;
}
.equals {
  flex-basis: 50%;
  aspect-ratio: 0;
  background-color: orange;
}
.button-dot {
  font-size: 20px;
  font-weight: bold;
}
