html,
body {
  height: 100%;
}
body {
  display: flex;
}
#calc {
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  width: 500px;
  height: 745px;
  border: 2px solid black;
  box-sizing: border-box;
}
.clr {
  background-color: #ecb27093;
}
#display {
  flex-basis: 100%;
  height: 120px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  font-size: 100px;
  text-align: end;
  background-color: #d3d4d4;
}
button {
  background-color: #8e9dcc;
  aspect-ratio: 1;
  flex-basis: 25%;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.button-operator {
  background-color: #f4f1bb;
}
.equals {
  flex-basis: 50%;
  aspect-ratio: 0;
  background-color: #f4f1bb;
}
.button-dot {
  font-size: 20px;
  font-weight: bold;
}
